html {
    height: 100%;
    /* 왜 적고 시작하는지*/
}

body {
    height: 100%;
    padding: 0px;
    /* 왜 적고 시작하는지*/
    margin: 0px;
    /* 왜 적고 시작하는지*/
    background: #2D5FC0;
}

section {
    position: relative;
    width: 1080px;
    height: 640px;
}

header {
    position: relative;
    width: 1080px;
    height: 80px;
}

header>div.title {
    position: absolute;
    height: 36px;
    left: 30px;
    top: 22px;
    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

header>div.title>span {
    font-weight: 300;
}


/* 메뉴영역을 위한 CSS */

header>img {
    position: absolute;
    top: 15px;
    left: 285px;
    width: 190px;
    height: 50px;
}

header>div.user {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 104px;
    height: 30px;
    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
}

header>div.user>span {
    font-weight: 300;
}

section>div.menu {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 250px;
    height: 640px;
    padding-top: 32px;
    background-color: rgba(255, 255, 0, 0.3);
    z-index: 1;
}

section>div.menu>div.menu-item {
    width: 250px;
    height: 69px;
    background-color: rgba(255, 0, 0, 0.3);
    margin-bottom: 9px;
}

section>div.menu>div.menu-item>a.inner {
    box-sizing: border-box;
    display: block;
    width: 235px;
    height: 72px;
    margin-left: 30px;
    border-radius: 30px 0px 30px 0px;
    padding: 20px, 82px, 23px, 30px;
    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
    background-color: rgb(254, 161, 0);
}

a.inner.active {
    background-color: #F5924A;
    border-radius: 30px, 0px;
}


/* 메인 컨텐츠를 위한 CSS */

section>div.contents {
    position: relative;
    float: right;
    border-radius: 30px 0px 0px 0px;
    width: 830px;
    height: 640px;
    background-color: white;
}